<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conn" value="Server=localhost;Database=CAPCOIN;User Id=sa;Password=chvack;Connection Timeout=480"/>
    <add key="logfile" value="coincompare.log"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>